/* ----- Variables ----- */
:root {
  --clr-primary: #18181e; /* rgba(24, 24, 30, 1); */
  --clr-light: #dec79b;
  --clr-gray: rgba(255, 255, 255, 0.2);
  --clr-yellow: #fac921;
  --font-primary: "Roboto Mono", monospace;
  --font-secondary: "Montserrat", sans-serif;
}

/* ----- Basic Styling ----- */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: var(--font-primary);
  background: var(--clr-primary);
  color: #fff;
}

.whitespace {
  width: 100%;
  height: 100px;
}

@media (max-width: 768px) {
  .whitespace {
    display: none;
  }
}

/* ----- Nav Section ----- */
nav {
  width: 100%;
  background: var(--clr-primary);
  height: 80px;
  position: fixed;
  z-index: 1;
}

nav #brand {
  float: left;
  display: block;
  margin-left: 82px;
  line-height: 80px;
  font-weight: bold;
}

nav #brand a {
  color: #fff;
  transition: all 0.3s ease-out;
}

nav #brand a:hover {
  text-decoration: none;
}

nav #menu {
  float: left;
  right: 80px;
  position: fixed;
}

nav #menu li {
  padding-left: 40px;
  display: inline-block;
  cursor: pointer;
  line-height: 80px;
  position: relative;
  transition: all 0.3s ease-out;
}

nav #menu li span {
  font-weight: 700;
}

nav #menu li a {
  color: #fff;
}

nav #menu li a:hover {
  text-decoration: none;
}

#toggle {
  position: absolute;
  right: 30px;
  top: 20px;
  font-weight: 300;
  z-index: 2;
  width: 30px;
  height: 30px;
  cursor: pointer;
  float: right;
  transition: all 0.3s ease-out;
  visibility: hidden;
  opacity: 0;
}

.close-btn {
  position: absolute;
  right: 16px;
  font-weight: 300;
  z-index: 2;
  cursor: pointer;
  top: -2px;
  line-height: 80px;
}

#resize {
  z-index: 1;
  top: 0px;
  position: fixed;
  background: var(--clr-primary);
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-out;
}

#resize #menu {
  height: 90px;
  position: absolute;
  left: 45%;
  transform: translateX(-40%);
  text-align: center;
  display: table-cell;
  vertical-align: center;
}

#resize #menu li {
  display: block;
  text-align: center;
  padding: 10px 0;
  font-size: 50px;
  min-height: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
  margin-top: 140px;
}

#resize #menu li a {
  color: #fff;
}

#resize #menu li a:hover {
  text-decoration: none;
}

#resize.active {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 768px) {
  #toggle {
    visibility: visible;
    opacity: 1;
    margin-top: 6px;
    margin-right: 4px;
  }

  nav #brand {
    margin-left: 24px;
  }

  #menu a {
    font-size: 20px;
  }

  #resize li span {
    font-weight: bolder;
  }

  nav #menu {
    display: none;
  }
}

@media (min-width: 768px) {
  #resize {
    visibility: hidden;
  }
}
/* ----- Hero Section ----- */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  border-left: var(--clr-light) 3px solid;
  padding-left: 10px;
}

header h1 {
  line-height: 58px;
  letter-spacing: -2px;
  color: var(--clr-light);
}

header p {
  margin-bottom: 8px;
}

/* ----- Scroll Down Animation ----- */
.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 100px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 0;
  text-decoration: none;
  text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: translate(-50%, 0) rotate(45deg);
  animation: fade_move_down 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

@keyframes fade_move_down {
  0% {
    transform: translate(0, -20px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 20px) rotate(45deg);
    opacity: 0;
  }
}

/* ----- Projects Section ----- */
h6 {
  text-align: center;
  color: var(--clr-light);
  text-transform: uppercase;
}

.vertical {
  margin-top: 40px;
  border-left: 2px solid var(--clr-gray);
  height: 70px;
  position: absolute;
  left: 50%;
}

.project {
  height: 500px;
}

.project1 {
  background: url(../images/Alex_Csanyi_Portfolio_Background_Image.jpg)
    no-repeat;
  background-size: cover;
}

.project1::after {
  content: "timeless flow.";
  font-size: 36px;
  position: relative;
  display: block;
  top: 8%;
  left: -60%;
  right: 0;
  bottom: 0;
}

.project2 {
  background: url(../images/Alex_Csanyi_Portfolio_Background_Image_2.jpg)
    no-repeat;
  background-size: cover;
}

.project2::after {
  content: "never again.";
  font-size: 36px;
  position: relative;
  display: block;
  top: 80%;
  left: 90%;
  right: 0;
  bottom: 0;
}

.project3 {
  background: url(../images/Alex_Csanyi_Portfolio_Background_Image_3.jpg)
    no-repeat;
  background-size: cover;
}

.project3::after {
  content: "foreword.";
  font-size: 36px;
  position: relative;
  display: block;
  top: 80%;
  left: -50%;
  right: 0;
  bottom: 0;
}

.project4 {
  background: url(../images/Alex_Csanyi_Portfolio_Background_Image.jpg)
    no-repeat;
  background-size: cover;
}

.project4::after {
  content: "new life starts here.";
  font-size: 36px;
  position: relative;
  display: block;
  top: 10%;
  left: 90%;
  right: 0;
  bottom: 0;
}

@media (max-width: 768px) {
  .project {
    width: 90% !important;
    margin: 14px auto;
  }

  .vertical {
    display: none;
  }

  .project1::after,
  .project2::after,
  .project3::after,
  .project4::after {
    display: none;
  }
}

/* ----- Contact Form ----- */
#contact-form-header {
  color: var(--clr-light);
}

#contact-form ul {
  list-style: none;
  border-radius: 5px;
  margin-bottom: 40px;
  padding-left: 0;
}

#contact-form li {
  padding: 10px 10px 10px 0;
}

#contact-form li:last-of-type {
  border-bottom: none;
}

#contact-form label {
  display: block;
  font-size: 1em;
  color: var(--clr-gray);
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 5px;
  border: none;
  background: transparent;
  resize: vertical;
  color: #fff;
  font-weight: bolder;
}

input:focus {
  outline: none;
  border: none;
}

textarea:focus {
  outline: none;
  border: none;
}

.textarea {
  border-bottom: 1px solid #dfdfdf;
}

.send {
  text-transform: uppercase;
  padding: 20px 30px;
  background: transparent;
  color: var(--clr-gray);
  font-size: 14px;
  letter-spacing: 2px;
  transition: color 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}

.send:hover {
  background: var(--clr-light);
  color: var(--clr-primary);
}

@media (max-width: 768px) {
  #contact-alex-csanyi {
    margin-top: 45px;
    margin-bottom: 30px;
  }
}

/* ----- Footer Section ----- */
.collab {
  text-align: right;
}

.collab p {
  font-weight: lighter;
  margin-bottom: 20px;
  color: var(--clr-light);
}

.hr {
  background: var(--clr-gray);
  height: 1px;
}

.info h4 {
  font-size: 14px;
  font-weight: lighter;
}

.info p {
  color: var(--clr-gray);
  font-weight: lighter;
}

.info li {
  font-weight: lighter;
  font-size: 14px;
  padding-left: 20px;
}

#linkedin::before {
  display: inline-block;
  content: "";
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: var(--clr-gray);
}

#twitter::before {
  display: inline-block;
  content: "";
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: var(--clr-gray);
}

#github::before {
  display: inline-block;
  content: "";
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: var(--clr-gray);
}

#media,
#address {
  text-align: right;
}

#address h4 {
  padding-top: 6px;
}

#personal h4 a {
  color: #fff;
}

#personal h4 a:hover {
  text-decoration: none;
}

ion-icon {
  font-size: 32px;
  transition: color 0.5s ease-in-out;
}

ion-icon:hover {
  color: var(--clr-light);
}

#media ul {
  list-style: none;
}

#media ul li {
  display: inline-block;
}

#media ul li a {
  color: #fff;
}

#media ul li a:hover {
  text-decoration: none;
}

@media (max-width: 768px) {
  .collab,
  #personal,
  #media,
  #address {
    text-align: center;
  }

  .info ul {
    margin: 0 0 0 -22px;
    padding: 0;
  }
}
